h1{
   
    text-transform: uppercase;
  }
  body{
    background-color: black;
    
  }
  img{
    border: 5px solid white;
    width: 100%;
  
  }
  div{
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
    font-family: 'Libre Baskerville', serif;
    margin-top: 100px;
  }